<aside class="aside">
  <ul class="aside_list">
    <!-- LIST ITEM -->
    <li class="aside_item aside-active">
      <a routerLink="/classe" class="aside_link">
        <span>Dashboard</span>
      </a>
    </li>

    <li class="aside_item">
      <a href="#" class="aside_link" routerLink="/classe">
        <span>Classes</span>
      </a>
    </li>
    <li class="aside_item">
      <a href="#" class="aside_link" routerLink="/student">
        <span>Students</span>
      </a>
    </li>
    <!-- END OF THE SINGLE LIDT ITEMS -->
    <li class="aside_item">
      <a href="#" class="aside_link">
        <span>Profile</span>
      </a>
    </li>
    <li class="aside_item">
      <a href="#" class="aside_link">
        <span>FAQ</span>
      </a>
    </li>
    <li class="aside_item">
      <a href="#" class="aside_link aside--logout">
        <span>logout</span>
      </a>
    </li>
  </ul>
</aside>
